html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Gruppo", "Lato", sans-serif, "Yanone Kaffeesatz", sans-serif;
  color: black;
  --col_an: blue;
  --largImg: 20rem;
  --fs-titre: clamp(1.5rem, 4vw, 5rem);
  --fs-icon: clamp(3rem, 4vw, 4rem);
  --fs-body: 2rem;
  font-size: var(--fs-body);
}

.envel {
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.705);
  height: 100vh;
}
.transval {
  position: fixed;
  display: flex;
  font-size: var(--fs-titre);
  text-shadow: 1px 1px 1px white;
  left: 50%;
  translate: -50%;
  z-index: 1;
}

.retour {
  position: fixed;
  top: 0;
  z-index: 1;
  padding-left: 0.5rem;
}
.retour > span {
  display: block;
  text-shadow: 1px 1px 1px white;
  color: rgb(53, 52, 52);
  font-size: var(--fs-icon);
}
.retour > span:hover {
  cursor: pointer;
  scale: 1.2;
  transition: scale 0.3s;
  color: gray;
}

.image {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(var(--largImg), 1fr));
  align-items: center;
  background-color: rgba(95, 94, 94, 0.5);
}

.image_mod {
  overflow: auto;
  overscroll-behavior-inline: contain; /* empeche de sortir de la page avant ou apres */
  width: 100vw;
  gap: 0px;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  scroll-snap-type: x mandatory;
  grid-template-columns: none;
}
.photo {
  display: none;
  background-color: black;
}
.image > img {
  width: 100%;
  object-position: top;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.image > img:hover {
  cursor: pointer;
  border: 2px solid rgb(79, 78, 78);
  object-position: center;
}
.image_mod > img {
  height: 100vh;
  object-fit: contain;
  aspect-ratio: initial;
  object-position: center;
  scroll-snap-align: start;
}
.image_mod > img:hover {
  cursor: grab;
  border: initial;
}
/* afficher l'année, et les images de chgt d'années */
.annee {
  position: fixed;
  font-size: var(--fs-titre);
  text-shadow: 1px 1px 1px white;
  right: 4rem;
  top: 0;
  width: fit-content;
  z-index: 2;
}
img[data-seuil^="1"],
img[data-seuil^="2"] {
  border: 2px solid var(--col_an);
}
.image_mod > img[data-seuil] {
  border: none;
}
/* --------icone pour le fullscreen------ */
.fullscreen {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: rgb(221, 221, 221);
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
  text-align: center;
}
.fullscreen > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
/* -----------fleches de defilement du scroll horiz---------- */
.fleches {
  display: none;
  position: absolute;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
  color: rgb(168, 166, 166);
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}
.fleches > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.fleches:hover {
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(71, 70, 70);
  opacity: 1;
}
.material-icons-outlined {
  font-size: var(--fs-icon);
}
.show_grid {
  display: grid;
}
.precedent {
  left: 0;
  justify-content: flex-start;
}
.suivant {
  justify-content: flex-end;
  right: 0;
}
/* ---panneau interdit pour stopper le defilement horiz---- */
.prec,
.suiv {
  display: none;
}
.show {
  display: block;
}

@media screen and (max-width: 642px) {
  .photo {
    pointer-events: none;
  }
  .image {
    cursor: grab;
  }
  .image img {
    object-position: center;
    object-fit: contain;
  }
}
/* menu glissant */
.container {
  --fs: 2px;
  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  width: fit-content;
  height: 100%;
  opacity: 0;
  grid-template-rows: repeat(auto-fit, minmax(var(--fs), 1fr));
  background-color: rgba(247, 245, 243, 0.687);
  place-content: end;
  align-content: start;
  overflow-y: auto;
}
.container:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  box-shadow: -5px 0 5px rgba(128, 128, 128, 0.666);
  cursor: none;
}
.progress_bar {
  height: 100vh;
  width: 0.3rem;
  justify-self: end;
  transform-origin: top;
  transform: scaleY(0);
  background-color: var(--col_an);
}
.liens {
  display: block;
  position: relative;
  width: 3rem;
  text-align: center;
  list-style: none;
  font-size: var(--fs);
}
.liens[data-seuil^="1"],
.liens[data-seuil^="2"] {
  font-size: 1rem;
}
.liens:hover {
  font-size: 1rem;
  color: var(--col_an);
}
.liens:hover::before {
  content: "";
  display: block;
  border-top: 1px solid var(--col_an);
}
