html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: var(--fs-body);
  --col_an: blue;
  --col_shad: hsla(0, 0%, 40%, 0.7);
  --col-bout: rgb(53, 52, 52);
  --largImg: 20rem;
  --fs-titre: clamp(1.3rem, 3vw, 3rem);
  --fs-icon: clamp(2.5rem, 3vw, 3.5rem);
  --fs-body: 1.5rem;
  --fs-liste: clamp(0.5rem, 1rem, 2vh);
  --hamb: clamp(1.5rem, 1.6vw, 2.4rem);
  --decal: 0.5rem;
  --bar_height: calc(var(--hamb) / 6);
  --esphamb: calc(var(--hamb) / 2 - var(--bar_height) / 2);
  --largBout: 3rem;
}
#stopLiens {
  position: fixed;
  opacity: 1;
  bottom: var(--largBout);
  right: var(--largBout);
  background-color: transparent;
  border: none;
}
#stopLiens:hover {
  opacity: 0;
}
/* header */
.entete {
  position: fixed;
  top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: var(--fs-titre);
  width: 100%;
  align-items: center;
  justify-items: center;
}
.hamburger {
  display: flex;
  align-items: center;
  position: relative;
  width: var(--hamb);
  height: var(--hamb);
  border: none;
  cursor: pointer;
  background: transparent;
}
.hamburger:hover .barre {
  scale: 1.05;
  background-color: grey;
}
.invis {
  opacity: 0;
  pointer-events: none;
}
.barre {
  position: absolute;
  align-items: center;
  width: 100%;
  height: var(--bar_height);
  border-radius: 999px;
  background-color: var(--col-bout);
  box-shadow: 1px 1px 1px white;
  transition: all 0.3s ease-in-out;
}
.haut {
  transform: translateY(var(--esphamb));
}
.milieu {
  transform: translateY(0);
  z-index: 2;
}
.bas {
  transform: translateY(calc(var(--esphamb) * -1));
}
.hamburger.open .milieu {
  box-shadow: none;
  transform: rotate(45deg) scaleX(1.4);
}
.hamburger.open .haut {
  transform: translate(0) rotate(-135deg) scaleX(1.4);
}
.hamburger.open .bas {
  transform: translate(0) rotate(135deg) scaleX(1.4);
}
.annee,
.transval,
.on,
.off {
  text-shadow: 1px 1px 1px white;
  cursor: default;
}
.pied {
  position: fixed;
  background: transparent;
  bottom: 0.5rem;
  left: 8vw;
  border: none;
  display: grid;
  grid-auto-flow: column;
  width: 84%;
  justify-content: space-between;
}
.retour,
.inverser {
  cursor: pointer;
  text-align: center;
}

.down,
.up {
  grid-row: 1/2;
  grid-column: 1/2;
  font-weight: 100;
}
.spanRetour {
  display: block;
  text-shadow: 1px 1px 1px white;
  color: var(--col-bout);
}
.spanRetour:hover {
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
  color: gray;
}
.envel {
  background-color: black;
}
.image {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(var(--largImg), 1fr));
}
.image_mod {
  overflow: auto;
  overscroll-behavior-inline: contain; /* empeche de sortir de la page avant ou apres */
  width: 100vw;
  gap: 0px;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  scroll-snap-type: x mandatory;
  grid-template-columns: none;
}
.show {
  width: 100%;
  object-position: top;
  object-fit: cover;
  aspect-ratio: 4/3;
  cursor: pointer;
}
.image_mod > .show {
  height: 100vh;
  object-fit: contain;
  object-position: center;
  scroll-snap-align: start;
  cursor: grab;
}
/* afficher l'année, et les images de chgt d'années */
.show:is([data-seuil^="1"], [data-seuil^="2"]) {
  border: 2px solid var(--col_an);
}
/* --------icone pour le fullscreen------ */
.fullscreen {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: rgb(221, 221, 221);
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
  text-align: center;
}
/* -----------fleches de defilement du scroll horiz---------- */
.fleches {
  display: none;
  position: absolute;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
  color: rgb(168, 166, 166);
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}
.iconFl,
.iconFs {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.fleches:hover {
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(71, 70, 70);
  opacity: 1;
}
.material-icons-outlined {
  font-size: var(--fs-icon);
}
.show_grid {
  display: grid;
}
.precedent {
  left: 0;
  justify-content: flex-start;
}
.suivant {
  justify-content: flex-end;
  right: 0;
}
/* ---panneau interdit pour stopper le defilement horiz---- */
.debut,
.fin,
.eff_fl {
  display: none;
}
.showfl {
  display: block;
}
/* menu glissant */
.menu,
.box_annees {
  --fs: 2px;
  display: grid;
  position: fixed;
  right: 0;
  opacity: 0;
  width: fit-content;
  padding: 0.5rem 0;
  height: 100%;
  grid-template-rows: repeat(auto-fit, minmax(var(--fs), 1fr));
  box-shadow: 3px 3px 3px var(--col_shad);
  overflow-y: auto;
}
.menu {
  left: var(--decal);
  top: 10vh; /* pour safari */
  height: 80vh;
  opacity: 1;
  align-self: center;
  border-radius: var(--decal);
  transform: translate(-110%);
  transition: transform 0.3s ease-in-out;
  background-color: hsla(0, 0%, 100%, 0.3);
}
.menu.open {
  transform: translate(0);
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.show_box,
.box_annees:hover {
  background-color: hsla(0, 0%, 100%, 0.7);
  opacity: 1;
  transition: opacity 0.3s ease-out;
  box-shadow: -3px 0 3px var(--col_shad);
  cursor: none;
}
.lien_menu,
.liens {
  display: block;
  position: relative;
  padding: 0 2px;
  align-self: center;
  list-style: none;
  text-align: center;
  font-size: var(--fs);
}
.lien_menu {
  text-align: left;
  font-size: var(--fs-liste);
}
.lien_menu.active {
  color: var(--col_an);
}
.lien_menu:hover {
  color: var(--col_an);
  text-decoration: underline;
}
.liens {
  color: transparent;
}
.liens[data-seuil^="1"],
.liens[data-seuil^="2"] {
  font-size: var(--fs-liste);
  color: black;
}
.liens:hover {
  position: relative;
  font-size: var(--fs-liste);
  color: var(--col_an);
}
.show-an {
  font-size: var(--fs-liste);
  color: black;
  background-color: gold;
  border: 1px solid black;
  z-index: 10;
}
@media screen and (max-width: 642px) {
  .image {
    cursor: grab;
    pointer-events: none;
  }
}
