html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.scrbar::-webkit-scrollbar {
  display: none;
}

body {
  --fs-body: 1rem;
  --fs-titMenu: clamp(0.9rem, 2.5vw, 2rem);
  --fs-titre: clamp(1.1rem, 1.3vw, 1.4rem);
  --fs-drop: clamp(0.8rem, 1.3vw, 1.3rem);
  --sur-menu: 0.5rem;
  --fs-tiBlog: clamp(1.1rem, 1.3vw, 1.5rem);
  --decDrop: 6rem;
  --largIcon: 220px;
  --hautMenu: calc(var(--fs-titMenu) + 2rem);
  --decalHaut-titre: calc(1rem + var(--fs-titMenu));
  color: black;
  font-family: "Roboto", sans-serif, "Yanone Kaffeesatz", sans-serif;
  font-size: var(--fs-body);
}
.page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto 0 1fr;
  grid-template-areas:
    "menu"
    "video"
    "main";
  background-repeat: no-repeat;
}
h1 {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: hsl(0, 100%, 50%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
/* menu des onglets haut de page */
.menu {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 0;
  height: fit-content;
  background-color: white;
  box-shadow: 0 3px 3px rgba(183, 182, 182, 0.472);
}
.btn-top {
  height: fit-content;
  border: none;
  outline: none;
  align-items: center;
  margin: 0 3vw;
}

.titMenu {
  position: relative;
  text-align: center;
  display: inline;
  font-size: var(--fs-titMenu);
  cursor: pointer;
}
.titMenu::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.activeMenu::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: blue;
}
.titMenu:hover::after {
  transform: scale(1);
}

/* containers dropdown pour les sous menus */
.dropdown {
  position: absolute;
  border-radius: 5px;
  overflow: auto;
  z-index: 1;
  top: calc(var(--hautMenu) + 10px);
  cursor: default;
  font-size: var(--fs-drop);
  /* box-shadow: 5px 5px 5px grey; */
  background-color: rgb(238, 235, 227, 0.75);
  max-height: calc(100vh - var(--hautMenu) - 15px);
}
.bloc-links {
  transition: height 0.3s ease-in-out;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.bloc-links li {
  padding: 2px 5px;
  list-style-type: none;
  display: block;
  width: auto;
}
.bloc-links li:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
/*  sous menus des dropdown */
.sousMenuFam {
  display: grid;
  grid-template-areas:
    "a1 a1 a2 a2"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4";
  padding: 1rem;
}
.sousMenuVoy {
  display: grid;
  grid-template-areas:
    "a1 a1"
    "c1 c2"
    "d1 d2"
    "e1 e2"
    "f1 f2";
  padding: 1rem;
}

/* mise en forme des videos */
.videos {
  display: none;
  grid-area: video;
}
.enveloppe {
  grid-area: main;
  padding: 5px 0;
  max-height: calc(100vh - var(--hautMenu) - 8px);
  background: url("./images/Mimosa2.jpg") left/cover;
}
.ecranVideos {
  overflow: auto;
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
/* iframes YT */
.contYT {
  scroll-snap-align: start;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ecranYT {
  position: relative;
  margin: auto;
}
.lect {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
}
/* fleche de retour pour bas de page */
.retour {
  border: none;
  display: block;
  background-color: transparent;
  margin-left: 0.5rem;
  height: calc(var(--fs-titMenu) * 1.2);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 3px 3px 4px hsla(0, 0%, 50%, 0.614);
  opacity: 0;
  visibility: hidden;
}
.retour > img {
  border-radius: 50%;
  border: 3px solid transparent;
  width: 100%;
}

button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 4px black;
}

/* centrer verticalement les continents de Voyage*/
.show {
  opacity: 1;
  visibility: visible;
}
.sousMenuVoy > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkB {
  display: flex;
  justify-content: space-evenly;
}
.a1 {
  grid-area: a1;
}
.a2 {
  grid-area: a2;
}
.b1 {
  grid-area: b1;
}
.b2 {
  grid-area: b2;
}
.b3 {
  grid-area: b3;
}
.b4 {
  grid-area: b4;
}
/* les lignes a et b sont centrées, les autres non */
.a1,
.a2,
.b1,
.b2,
.b3,
.b4 {
  text-align: center;
}

.c1 {
  grid-area: c1;
}
.c2 {
  grid-area: c2;
}
.c3 {
  grid-area: c3;
}
.c4 {
  grid-area: c4;
}
.d1 {
  grid-area: d1;
}
.d2 {
  grid-area: d2;
}
.e1 {
  grid-area: e1;
}
.e2 {
  grid-area: e2;
}
.f1 {
  grid-area: f1;
}
.f2 {
  grid-area: f2;
}
/* border les sous menus */
.sousMenuVoy :is(ul, .checkB),
.sousMenuFam ul {
  border: 1px dotted rgba(128, 128, 128, 0.5);
}
/* titres */
.titre {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  text-align: right;
  padding-right: 0.5rem;
  font-size: var(--fs-titre);
  color: blue;
}
.vidTitre {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-size: var(--fs-titre);
}
/* mise en forme des icones Blog */
.decal {
  left: 1rem;
  width: calc(100vw - 2rem);
}
.sousMenuBlog {
  padding: 0.5rem;
}
.envIcon {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.relat,
.bloc_img {
  display: grid;
  padding: 0.2rem;
  text-decoration: none;
  aspect-ratio: 1/1;
}

.relat * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.blogs {
  width: 100%;
  border-radius: 10%;
  aspect-ratio: 1 / 1;
}
.blg .relat:hover .blogs,
.pho .relat:hover .blogs {
  box-shadow: 5px 5px 5px grey;
}

.ti_blog {
  padding-top: 1rem;
  text-align: center;
  font-size: var(--fs-tiBlog);
  text-shadow: 1px 1px 2px black;
  color: gold;
  z-index: 8;
}
.relat:hover .ti_blog {
  font-size: calc(var(--fs-tiBlog) / 0.95);
  color: hsl(45, 100%, 50%);
  cursor: pointer;
}
.texte {
  font-size: var(--fs-tiBlog);
  text-shadow: 1px 1px 1px black;
  /* display:flex */
  text-align: center;
  padding: 1rem;
  opacity: 0;
  color: hsl(45, 100%, 50%);
  align-self: end;
  background-color: hsl(50, 0%, 50%, 0.3);
}
.relat:hover .texte {
  opacity: 1;
  z-index: 5;
  transition: opacity 0.5s ease-out;
}

/* pour les petits ecrans passer le titre en dessous */
@media screen and (max-width: 700px) {
  .titre {
    top: var(--decalHaut-titre);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .envIcon {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .texte {
    font-size: calc(var(--fs-titMenu) / 1.2);
  }
}
