html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --fs-body: 1rem;
  --fs-titMenu: clamp(1rem, 2vw, 1.6rem);
  --sur-menu: 0.5rem;
  --fs-titre: clamp( 1rem, 1.7vw, 1.4rem);
  --fs-tiBlog: 1.5rem;
  --fs-drop:clamp( 0.7rem, 1.5vw, 1.3rem);
  --decDrop: 6rem;
  --largIcon: 220px;
  --hautMenu: 3rem;
  --decalHaut-titre: 2.5rem;
  color: black;
  font-family: "Lato", sans-serif, "Yanone Kaffeesatz", sans-serif;
  font-size: var (--fs-body);
}
.page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto 0 1fr;
  grid-template-areas:
    "menu"
    "video"
    "main";
  background: url("./images/LesAnges.jpg") top/cover;
  background-repeat: no-repeat;
}
/* menu des onglets haut de page */
.menu {
  grid-area: menu;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  height: fit-content;
}
.btn-top {
  margin-left: 0.5rem;
  margin-top: var(--sur-menu);
  min-width: 11vw;
  height: fit-content;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: gold;
  box-shadow: inset -1px -1px 2px grey;
}
.btn-top:hover {
  box-shadow: 3px 3px 5px black;
  cursor: pointer;
  background-color: hsl(45, 100%, 50%);
}

.titMenu {
  text-align: center;
  font-size: var(--fs-titMenu);
}
/* containers dropdown pour les sous menus */
.dropdown {
  position: absolute;
  border-radius: 5px;
  margin-top: 3px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 5px 5px 5px grey;
  cursor: auto;
  font-size: var(--fs-drop)
}
.bloc-links {
  transition: height 0.5s ease-in-out;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(238, 235, 227, 0.9);
  z-index: 30;
}

.bloc-links li,
span {
  padding: 2px 5px;
  list-style-type: none;
  display: block;
  width: auto;
}
.bloc-links li:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
/*  sous menus des dropdown */
.sousMenuFam {
  display: grid;
  grid-template-areas:
    "a1 a1 a2 a2"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4";
  padding: 1rem;
}
.sousMenuVoy {
  display: grid;
  grid-template-areas:
    "a1 a1"
    "c1 c2"
    "d1 d2"
    "e1 e2"
    "f1 f2";
  padding: 1rem;
}

/* mise en forme des videos */
.videos {
  display: none;
  grid-area: video;
}
.enveloppe {
  grid-area: main;
  position: relative;
  padding: 5px 0;
  margin: 5px 2px;
}
.ecranVideos {
  overflow: scroll;
  height: calc(100vh - 1.4 * var(--hautMenu));
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
/* iframes YT */
.contYT {
  scroll-snap-align: start;
  margin: auto;
}
.ecranYT {
  position: relative;
  margin: auto;
}
.lect {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
  /* opacity: 0;
  transition: opacity 0.3s ease-out; */
}
/* fleche de retour pour bas de page */
.retour,
#efface {
  border: none;
  display: block;
  background-color: transparent;
  margin-top: var(--sur-menu);
  margin-left: 0.5rem;
  height: calc(var(--fs-titMenu) * 1.5);
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.retour {
  opacity: 0;
}
.retour > img {
  border-radius: 50%;
  border: 3px solid transparent;
  width: 100%;
}

#efface:hover,
button:hover {
  box-shadow: 3px 3px 4px black;
}

/* centrer verticalement les continents de Voyage*/
.show {
  opacity: 1;
}
.sousMenuVoy > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkB {
  display: flex;
  justify-content: space-evenly;
}
.a1 {
  grid-area: a1;
}
.a2 {
  grid-area: a2;
}
.b1 {
  grid-area: b1;
}
.b2 {
  grid-area: b2;
}
.b3 {
  grid-area: b3;
}
.b4 {
  grid-area: b4;
}
/* les lignes a et b sont centrées, les autres non */
.a1,
.a2,
.b1,
.b2,
.b3,
.b4 {
  text-align: center;
}

.c1 {
  grid-area: c1;
}
.c2 {
  grid-area: c2;
}
.c3 {
  grid-area: c3;
}
.c4 {
  grid-area: c4;
}
.d1 {
  grid-area: d1;
}
.d2 {
  grid-area: d2;
}
.e1 {
  grid-area: e1;
}
.e2 {
  grid-area: e2;
}
.f1 {
  grid-area: f1;
}
.f2 {
  grid-area: f2;
}
/* border les sous menus */
.sousMenuVoy :is(ul, .checkB),
.sousMenuFam ul {
  border: 1px dotted rgba(128, 128, 128, 0.5);
}
/* titres */
.titre {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  text-align: right;
  padding-right: 0.5rem;
  font-size: var(--fs-titMenu);
}
.vidTitre {
  text-align: center;
  color: blue;
  font-size: var(--fs-titre);
}
/* mise en forme des icones Blog */
.decal {
  left: 1rem;
  width: calc(100vw - 2rem);
}
.sousMenuBlog {
  border-radius: 5px;
  padding: 1rem;
 max-height: calc(100vh -  1.2 * var(--hautMenu));
}
.envIcon {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  overflow: auto;
  cursor: grab;
}
.relat,
.relat > a,
.bloc_img {
  display: grid;
  padding: 0.2rem;
  text-decoration: none;
  aspect-ratio: 1/1;
}

.relat > *,
.relat > a > *,
.bloc_img > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.blogs {
  width: 100%;
  border-radius: 10%;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}
.blg .relat:hover .blogs {
  box-shadow: 5px 5px 5px grey;
  transform: scale(1.01);
}
.pho .relat:hover .blogs {
  box-shadow: 5px 5px 5px black;
  transform: scale(1.01);
  filter: blur(1px);
}
.ti_blog {
  padding-top: 1rem;
  text-align: center;
  font-size: var(--fs-tiBlog);
  text-shadow: 1px 1px 2px black;
  color: gold;
  z-index: 5;
}
.relat:hover .ti_blog {
  font-size: calc(var(--fs-tiBlog) + 0.1rem);
  color: hsl(45, 100%, 50%);
}
.texte {
  font-size: var(--fs-titMenu);
  text-shadow: 1px 1px 1px white;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
}
.relat:hover .texte {
  opacity: 1;
  z-index: 5;
  transition: opacity 0.5s ease-out;
}

/* pour les petits ecrans passer le titre en dessous */
@media screen and (max-width: 700px) {
  .titre {
    top: var(--decalHaut-titre);
    right: 10px;
  }

  .ecranVideos {
    margin-top: calc(var(--decalHaut-titre) / 2);
  }
}
