html {
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif, "Yanone Kaffeesatz", sans-serif;
  --decDrop: 6rem;
  --largIcon: 190px;
}
.page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 38px 0 1fr;
  grid-template-areas:
    "menu"
    "video"
    "main";
  background: url("./images/LesAnges.jpg") top;
  background-repeat: no-repeat;
}
/* menu des onglets haut de page */
.menu {
  grid-area: menu;
  display: grid;
  justify-content: start;
  width:100vw;
  grid-template-columns: repeat(4, auto) 1fr;
}
.btn-top {
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  width: var(--decDrop);
  margin-left: 0.5rem;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 5px;
  background-color: gold;
}
.btn-top:hover {
  color: blue;
  box-shadow: 3px 3px 5px black;
}
.actif {
  color: blue;
  box-shadow: 3px 3px 5px black;
}
/* containers dropdown pour les sous menus */
.dropdown {
  position: absolute;
  top: 39px;
  color: black;
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  z-index: 10;
  box-shadow: 5px 5px 5px grey;
}
.bloc-links {
  padding: 0 1rem;
  transition: height 0.5s ease-in-out;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(238, 235, 227, 0.9);
  z-index: 20;
}
.bloc-links li,
span,
a {
  padding: 2px 5px;
  list-style-type: none;
  color: black;
  text-align: left;
  display: block;
  width: auto;
}
.bloc-links :is(li, span):hover {
  color: green;
  text-decoration: underline;
}
/*  sous menus des dropdown */
.sousMenuFam {
  display: grid;
  grid-template-areas:
  "a a b b"
  "c d e f"
  "g h i j";
  border: 1px dotted rgba(128, 128, 128, 0.5);
}
.sousMenuVoy {
  display: grid;
  grid-template-areas:
  "a a"
  "b c"
  "d e"
  "f g"
  "h i";
  border: 1px dotted rgba(128, 128, 128, 0.5);
}

.sousMenuBlog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 20px; */
  margin-top: 10px;
  min-height: calc(100vh - 76px);
  overflow-y: scroll;
  border-radius: 5px;
}
/* mise en forme des videos */
.videos {
  display: none;
  grid-area: video;
}
.enveloppe {
  grid-area: main;
  position: relative;
  /* padding: 5px 0; */
  margin: 5px 1rem;
}
.ecranVideos {
  overflow-y: scroll;
  height: calc(100vh - 58px);
}
/* iframes YT */
.ecranYT {
  position: relative;
  margin: auto;
}
.lect {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
}
/* fleche de retour pour bas de page */
.retour {
  margin: auto;
  border: none;
  display: block;
  background-color: transparent;
}
.retour > img:hover {
  filter: drop-shadow(0 -2px 3px black);
}
.retour > img {
  width: 40px;
}
/* mise en forme des sous menus */
.sousMenuVoy > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkB {
  display: flex;
  justify-content: space-evenly;
}
.vidV,
.checkB {
  grid-area: a;
  text-align: center;
}
.diaD,
.am {
  grid-area: b;
  text-align: center;
}
.avV,
.amVille {
  grid-area: c;
  text-align: center;
}
.enV,
.as {
  text-align: center;
  grid-area: d;
}
.avD,
.asVille {
  text-align: center;
  grid-area: e;
}
.zgD,
.eu {
  text-align: center;
  grid-area: f;
}
.vid-li-av,
.euVille {
  grid-area: g;
}
.vid-li-en,
.il {
  grid-area: h;
}
.dia-li-av,
.ilVille {
  grid-area: i;
}
.dia-li-zg {
  grid-area: j;
}
.sousMenuVoy :is(span, ul, .checkB),
.sousMenuFam :is(span, ul) {
  border: 1px solid rgba(128, 128, 128, 0.5);
}
/* titres */
.titre {
  font-size: large;
  align-self: flex-end;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}
.vidTitre {
  text-align: center;
  color: blue;
}
/* mise en forme des icones Blog */
.decal {
  left: 1rem;
  width: calc(100vw - 2rem);
}
.envIcon {
  display: flex;
  width: 100%;
  height: calc(100% - 10px);
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}
.relat {
  position: relative;
  display: flex;
}
.blogs {
  width: var(--largIcon);
  height: var(--largIcon);
  margin: 10px;
  border-radius: 25%;
  cursor: pointer;
}
.ti_blog {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5em;
  color: gold;
  text-shadow: 1px 1px 2px black;
}
.blogs:hover {
  box-shadow: 10px 5px 5px gray;
}
.ti_blog:hover {
  color: rgb(255, 174, 0) !important;
  text-decoration: none !important;
}
/* icone de suppression des videos */
#efface {
  align-self: flex-end;
  width: 30px;
  margin-left: 20px;
}
#efface:hover {
  filter: drop-shadow(2px 2px 2px grey);
}
